.place__url-heading {
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 12px 0;
}

@media screen and (max-width: 320px) {
    .place__url-heading {
        padding: 0 16px 0;
    }
}